*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-family: Open Sans;
}

a, input, tr {
  outline: none;
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

table {
  width: 900px;
  margin: 0 auto 4em auto;
  border-collapse: collapse;
}
th {
  background: rgba(20,133,204,0.2);
}
tbody tr:hover {
  background: rgba(20,133,204,0.1);
}
th, td {
  border: 1px solid #CCC;
  padding: 5px;
  width: 20%;
  font-size: 0.9em;
}

@media print {
  table {
    width: 100%;
    margin: 0;
  } 
  tr {
    page-break-inside: avoid; /* Prevents rows from breaking */
    display: block; /* Needed in order for page-break to work */
  }
  th, td {
    width: 135px; /* To force width to columns */
  }
  .print.button {
    display: none;
  }
}

.button {
  display: block;
  padding: 0.5em 1.5em;
  margin: 3em;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: #cc2014;
  box-shadow: 0 5px 0 rgba(204, 20, 20, 0.6);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.button:hover {
  background: #b20909;
  box-shadow: 0 5px 0 rgba(178, 9, 9, 0.6);
}